<h2> Dallas Cowboys Periscope </h2>
<div style="text-align: center">
<a class="twitter-timeline"  href="https://twitter.com/search?q=Dallas%20Cowboys%20filter%3Aperiscpoe" data-widget-id="774762989689851906" data-chrome="nofooter noborders noheader" data-width="600"></a>
</div>
