<h2> 49ers tweets </h2>

<div style="text-align: center">

<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/search?q=49ers" data-widget-id="776445623851560961" data-chrome="nofooter noborders noheader" ></a>


</div>
