<h1>SportVine</h1>

<p> <b>NOTE: </b>
The proper stylized representation of this underlying code can be found here <%=link_to 'Sportline app\'s MediaVine', 'http://www.sportlineapp.com/mediavine' %>
</p>


<%= link_to 'Dallas Cowboys GIFs', gifs_path %><br>
<%= link_to '49ers Tweets', tweet_path %><br>
<%= link_to 'Periscope broadcasts for Dallas Cowboys', periscope_path %>
